{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <style>
      .govuk-checkboxes__label{min-width:6em}
    </style>
    <h1 class="govuk-heading-xl">
      Case management example
    </h1>
    <p class="govuk-body">
      This is a common government pattern. Citizens apply for government services then 
      civil servants review the applications in a case management system.
    </p>
    <!-- Filter by status -->
    <!-- This refreshes the page and changes the list of cases in the table -->
    <form action="index" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Filter by status
              </h1>
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small govuk-radios--inline" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-filter" name="status-filter" type="checkbox" value="New" {% if "New" in data['status-filter'] %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-filter">
                  New
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-filter-2" name="status-filter" type="checkbox" value="In progress" {% if "In progress" in data['status-filter'] %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-filter-2">
                  In progress
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-filter-3" name="status-filter" type="checkbox" value="On hold" {% if "On hold" in data['status-filter'] %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-filter-3">
                  On hold
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-filter-4" name="status-filter" type="checkbox" value="Complete" {% if "Complete" in data['status-filter'] %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-filter-4">
                  Complete
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <button class="govuk-button govuk-button--secondary">Update</button>
        </form>

  
  <!-- 
    Tabs 
  -->
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#past-day">
          All cases
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          My cases
        </a>
      </li>
    </ul>
    
    <!-- 
      All cases 
    -->
    <div class="govuk-tabs__panel" id="past-day">
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">All juggling licence applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Date of birth</th>
            <th scope="col" class="govuk-table__header">Owner</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if "New" in data['status-filter'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1 April</th>
            <td class="govuk-table__cell">Tay Tay Swifte</td>
            <td class="govuk-table__cell">5 Oak Drive QQ1 7NN</td>
            <td class="govuk-table__cell govuk-!-text-align-right">1-04-1989</td>
            <td class="govuk-table__cell">Avinash Singh</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1 April</th>
            <td class="govuk-table__cell">Marion Hall</td>
            <td class="govuk-table__cell">13 Pine Hall HH1 8NN</td>
            <td class="govuk-table__cell govuk-!-text-align-right">25-12-1971</td>
            <td class="govuk-table__cell">Kyunghyun Cho</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New</strong></td>
          </tr>
          {% endif %}
          <!-- Populate the table with the JSON saved in 
            \app\data\people.json -->
            {% for person in data['people'] %}
            {% if person.status in data['status-filter'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{person.date}}</th>
              <td class="govuk-table__cell">{{person.name}}</td>
              <td class="govuk-table__cell">{{person.address}}</td>
              <td class="govuk-table__cell govuk-!-text-align-right">{{person.dob}}</td>
              <td class="govuk-table__cell">{{person.owner}}</td>
              <td class="govuk-table__cell">
                {% if person.status == "New" %}
                <strong class="govuk-tag govuk-tag--blue">
                  {% elif person.status == "In progress" %}
                  <strong class="govuk-tag govuk-tag--green">
                    {% elif person.status == "On hold"  %}
                    <strong class="govuk-tag govuk-tag--red">
                      {% endif %}
                      {{person.status}}
                    </strong>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          
          <!-- 
            My cases 
          -->
          <div class="govuk-tabs__panel" id="past-week">
            
            
            <table class="govuk-table govuk-table--small-text-until-tablet">
              <caption class="govuk-table__caption govuk-table__caption--m">My juggling licence applications</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date</th>
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Address</th>
                  <th scope="col" class="govuk-table__header govuk-!-text-align-right">Date of birth</th>
                  <th scope="col" class="govuk-table__header">Owner</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              {% for person in data['people'] %}
                {% if person.owner =="Jane Grey" %}
                  {% if person.status in data['status-filter'] %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{person.date}}</th>
                    <td class="govuk-table__cell">{{person.name}}</td>
                    <td class="govuk-table__cell">{{person.address}}</td>
                    <td class="govuk-table__cell govuk-!-text-align-right">{{person.dob}}</td>
                    <td class="govuk-table__cell">{{person.owner}}</td>
                    <td class="govuk-table__cell">
                      {% if person.status == "New" %}
                      <strong class="govuk-tag govuk-tag--blue">
                        {% elif person.status == "In progress" %}
                        <strong class="govuk-tag govuk-tag--green">
                          {% elif person.status == "On hold"  %}
                          <strong class="govuk-tag govuk-tag--red">
                            {% endif %}
                            {{person.status}}
                          </strong>
                        </td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </table>
              </div>
            </div>
            
            {% endblock %}
            