{% extends "layouts/main.html" %}

{% block pageTitle %}
Test page
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="editor-radios" method="post" novalidate>

 
  <!--<h1 class="govuk-heading-xl">
    Yeah son
  </h1>
  <p>
                                                    
    
    
    
    
    
    
  </p>
  <p>
                                            
      
      
      
      
      
  </p>
  <p>
                                                                            
      
      
      
      
      
      
      
      
      
  </p>

  <p class="govuk-body">
    <a href="What is the thing?" target="_blank">What is the thing?</a>
  </p>

  </p>-->

  {% set conditionalHtml %}
  {{ govukInput({
    id: data['ss-conditional-id'],
    name: data['ss-conditional-id'],
    classes: "govuk-!-width-one-third",
    label: {
      text: "Enter the amount"
    },
    hint: {
      text: ""
    },
    prefix: {
      text: "£"
    }
  }) }}
  {% endset -%}

  {{ govukRadios({ 
    name: "myAnswer",
    id: "myAnswer",
    fieldset: {
      legend: {
        text: "Do you wanna?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        conditional: {
          html: conditionalHtml
        }
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}
  
  
    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
  
  {% endblock %}
  
