{% extends "layouts/main.html" %}

{% block pageTitle %}
Test page
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="editor-radios" method="post" novalidate>


  <!--<h1 class="govuk-heading-xl">
    Short heading
  </h1>
  <p>
            
    
  </p>
  <p>
                                            
      test2

      
      
      
      
  </p>
  <p>
                                            
      333

      
      
      
      
  </p>

  <p class="govuk-body">
    <a href="What is the thing?" target="_blank">What is the thing?</a>
  </p>

  </p>-->

  {% set conditionalHtml %}
  {{ govukInput({
    id: conditionalAnswer,
    name: conditionalAnswer,
    classes: "govuk-!-width-one-third",
    label: {
      text: ""
    },
    hint: {
      text: ""
    },
    prefix: {
      text: "£"
    }
  }) }}
  {% endset -%}

  {{ govukRadios({ 
    name: "sss",
    id: "sss",
    fieldset: {
      legend: {
        text: "xxx",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Goan goan"
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        conditional: {
          html: conditionalHtml
        }
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}
  

      
      
      
      
      

      
      
      



    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
  
  {% endblock %}
  
