
<body>
      <!-- I included the CSS in an html page -->
      {% include "./_style-mm.html" %}

  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        }
        else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>

  <section id="header">
      <h1>Madmarch</h1>
      <p id="tagline">user experience</p>
      <a href="javascript:void(0);" id="menu" onclick="document.getElementById('hidden').style.display = 'block';document.getElementById('menu').style.display = 'none'">Menu</a>
    <div id="hidden">
      <ul id="list">
        <li>Home</li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="freelance.html">Freelance</a></li>
        <li><a href="case_studies.html">Case studies</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="#contact">Contact</a></li>
        <p><a href="javascript:void(0);" id="close" onclick="document.getElementById('hidden').style.display = 'none';document.getElementById('menu').style.display = 'block'">Close</a></p>
      </ul>
    </div>
  </section>

<div id="foxlawn"></div>

<section class="content">
    <img src="images/hare.png" id="hare" alt="hare logo">
    <h2>Bobby King's design and research portfolio</h2>
    <p>I'm a friendly Interaction Designer and User Researcher based in Glasgow. My core skills are user research and interaction design but I also do user interface design, analytics and content strategy. I've been working in the UX field for seventeen years, mainly in financial services and the public sector. Hire me for contract and freelance UX work in Scotland.</p>
    <p><a href="https://uk.linkedin.com/in/bobbykingweb" target="_blank">Contact me on LinkedIn</a> | <a href="#aboutme">About me</a></p>

</section>

<section class="yellow">
  <div class="content">
  <h2>Portfolio</h2>
  <p>I love my work. Here are some of the organisations I've helped:</p>
		<p><img alt="six company logos" class="image" src="images/company-logos.jpg"></p>
    <div class="button">
      <a href="portfolio.html">View portfolio</a>
    </div>
  </div>
</section>
<section class="content">
  <h2>Case Studies</h2>
  <p>Including <a href="case_studies.html#scottishgovernment">User Research</a>, <a href="case_studies.html#redesign">running a redesign</a> and <a href="case_studies.html#royallondon">UX/UI design</a>:</p>
  <div class="case-studies-thumbnails">
    <a href="case_studies.html#royallondon"><img src="images/royal-london-thumbnail.png" alt="Royal London sketch" class="case-study"></a>
    <a href="case_studies.html#slc"><img src="images/slc-thumbnail.png" alt="SLC sketch" class="case-study"></a>
  </div>
</section>

<section class="yellow">
    <div class="content">
    <h1>Resources</h1>
    <p>Tools for fellow designers - including a <a href="resources.html#fintech-ui">Fintech UI</a> and <a href="resources.html#ux-mapper">UX icon sets</a> for mapping user journeys.</p>
    <img class="image" src="resources/fintech-ui-preview.png" alt="mobile phone layouts">
    </div>
</section>

<section class="content">
  <h2 id="writing">Talks and writing</h2>
  <ul>
    <li><a href="https://docs.google.com/presentation/d/17P0x2HW4SmWfvLOaEz-10Qq9vjC3khMiRaUAo49bcwc/edit?usp=sharing" target="_blank" rel="noopener">Our top User Research Mistakes</a> - talk for UX Edinburgh at Product Tank</li>
    <li><a href="https://docs.google.com/presentation/d/160iTnLG7l0H9JZ-J3ZrJv28U-SDNAM1d01XcJ7ior-E/edit?usp=sharing" target="_blank" rel="noopener">Fintech Design</a> - talk for Scottish Fintech</li>
    <li><a href="https://docs.google.com/presentation/d/1IuXoyW4dZlYw7gBGLRVTIofqP5y-NkOvWwbnHl7JM3U/edit?usp=sharing" target="_blank" rel="noopener">Kiss Goodbye to Your Good Old UI</a> - talk for UX Glasgow</li>
    <li><a href="https://www.testingtime.com/en/blog/data-ux-beyond-wireframes/?fbclid=IwAR25yCaIwnajsk7Fk-W0dyUbE7p9zsHNlce8XYYt543FPIx1XTN-YxDm4Tg" target="_blank" rel="noopener">Data UX: Beyond Wireframes</a> - blog post for Testing Time</li>
  </ul>

  <h2 id="community">UX community</h2>
  <p>I run the following:</p>
  <ul>
    <li>The monthly <a href="http://uxglasgow.co.uk" target="_blank" rel="noopener">UX Glasgow</a> meet-up with Neil Scott since 2013</li>
    <li>The <a href="https://www.facebook.com/groups/uxscotland/" target="_blank" rel="noopener">UX in Scotland</a> Facebook group since 2014</li>
      </ul>

      <p>I spent a couple of years running the <a href="https://www.meetup.com/ScottishFintech/" target="_blank" rel="noopener"> Scottish Fintech</a> meet-up with Sergei Miller-Pomphrey.
      </p>

      <h2 id="inspiration">Inspiration</h2>
  <p>As a designer I've been inspired by:</p>
  <ul>
    <li>Indi Young's 'Mental Models'</li>
    <li>Erika Hall's 'Just Enough Research'</li>
    <li>Jakob Nielsen and Don Norman for inventing UX</li>
    <li>Steve Krug for democratising user testing</li>
    <li>Jon Kolko's 'Thoughts On Interaction Design'</li>
    <li>Heydon Pickering's inclusive design books</li>
    <li>Bill Buxton's 'Sketching User Experiences'</li>
    <li>Mike Rohde's <a href="http://rohdesign.com/sketchnotes/" target="_blank" rel="noopener">sketch notes</a></li>
    <li>Avinash Kaushik's actionable insights</li>
    <li>DIY punk</li>
  </ul>
</section>

<footer class="footer" id="contact">
  <div class="content">
    <h2>Madmarch</h2>
    <p>Get in touch with us for contract and freelance UX design in Scotland:</p>
     <ul>
      <li>Phone: 07949 580 689</li>
      <li>LinkedIn: <a href="https://uk.linkedin.com/in/bobbykingweb" target="_blank">bobbykingweb</a></li>
      <li>Email: kingrober@gmail.com</li>
    </ul>
    <p>&copy; 2024 Madmarch Ltd</p>
  </div>
</footer>

</div>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58255002-1', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
