{% extends "layouts/main.html" %}
<!-- 
  
  This test page shows what data 'persists' from the previous page. 
  
-->
  
  {% block content %}
  
  <h1 class="govuk-heading-l">
    Example error page    <div id="js-div"></div>
  </h1>
  <p>
    Go back to the <a href="result">result page</a>. 
  </p>
  <p>
    {% if data['check-this-number'] %}
    number exists
    {% else %}
    no number
    {% endif %}
  </p>
  <form name="myForm" onsubmit="errorCheck()">
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="check-this-number">
      Enter a number
    </label>
    <div id="check-this-number-hint" class="govuk-hint">
      The box will only accept numbers. Letters and special characters trigger an error message. 
        </div>
    <p id="check-this-number-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a number.
    </p>
    <input class="govuk-input govuk-input--error" id="check-this-number" name="check-this-number" type="text" value ="{{data['check-this-number']}}" aria-describedby="check-this-number-hint check-this-number-error">
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>
<script>
  function errorCheck(){
    var hasNumber = /\d/;
    if (hasNumber.test("{{data['check-this-number']}}") == true){
      alert("number")
    }
    else{
      alert("not a number")
    }
    // alert("working " + hasNumber.test({{data['check-this-number']}}))
  }
</script>
  {% endblock %}
  