{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<!-- You can amend the style of any page using CSS -->
<style>
.govuk-header{
  /* color:#000;background-color:#2a8e02 */
  background-image: linear-gradient(red, yellow);}
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
    
    <h1 class="govuk-heading-xl">
      {{ serviceName }} - sandpit
    </h1>
    <p class="govuk-body">
      A sandpit for useful prototype code. <strong>This isn't a real government service. </strong>
    </p>
    <h2 class="govuk-heading-m">
      Examples
    </h2>
    <p class="govuk-body">
      <a href="./editable-pages/editor-radios" class="govuk-link">Editable pages</a>
    </p>
    <p class="govuk-body">
      <a href="./templates/index" class="govuk-link">Templates</a>
    </p>
    <p class="govuk-body">
      <a href="./juggling-service/start" class="govuk-link">Advanced Juggling licence application</a>
    </p>
    <p class="govuk-body">
      <a href="balsalmiq-style" class="govuk-link">Switch on Balsalmiq (rough) styles</a>
    </p>
    <p class="govuk-body">
      <a href="./scottish-files/question" class="govuk-link">Scottish Design System styles</a> - legit version
    </p>
    <p class="govuk-body">
      <a href="scottish" class="govuk-link">Scottish Design System hack</a> - using CSS to hide the gov.uk header
    </p>
    <p class="govuk-body">
      <a href="./shoestring-ui/" class="govuk-link">Shoestring UI</a> - a simple CSS framework for building apps
    </p>
    <p>
      <a href="ps-sandpit.html">P5.js sandpit</a> - adding extra interactivity with P5 / Processing
    </p>
  </div>
</div>

{% endblock %}
